[submodule "bundle/other/ultisnips"]
	path = bundle/other/ultisnips
	url = git://github.com/xaizek/ultisnips.git
[submodule "bundle/other/repeat"]
	path = bundle/other/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/other/commentary"]
	path = bundle/other/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/other/fswitch"]
	path = bundle/other/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/other/fugitive"]
	path = bundle/other/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/other/linediff"]
	path = bundle/other/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/textobj/arg"]
	path = bundle/textobj/arg
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "bundle/other/firsteffectiveline"]
	path = bundle/other/firsteffectiveline
	url = https://github.com/vim-scripts/FirstEffectiveLine.vim.git
[submodule "bundle/filetypes/gitignore"]
	path = bundle/filetypes/gitignore
	url = https://github.com/rdolgushin/gitignore.vim.git
[submodule "bundle/filetypes/syntax-extra"]
    path = bundle/filetypes/syntax-extra
    url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "bundle/other/nerdtree"]
	path = bundle/other/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/other/tagbar"]
	path = bundle/other/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/other/singlecompile"]
	path = bundle/other/singlecompile
	url = git@github.com:xuhdev/SingleCompile.git
[submodule "bundle/other/listtoggle"]
	path = bundle/other/listtoggle
	url = git@github.com:Valloric/ListToggle.git
[submodule "bundle/completion/youcompleteme"]
	path = bundle/completion/youcompleteme
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/other/grep"]
	path = bundle/other/grep
	url = https://github.com/yegappan/grep.git
[submodule "bundle/other/ctrlp"]
	path = bundle/other/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/other/syntastic"]
	path = bundle/other/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/other/vim-airline"]
	path = bundle/other/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/other/vim-airline-themes"]
	path = bundle/other/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
